# ANOVA Test to study association between depression and age(To study whether depression is more evident in higher age)

In [33]:
import numpy as np
import pandas as pd
import statsmodels.formula.api as smf
import statsmodels.stats.multicomp as multi

Reading Data

In [2]:
data=pd.read_csv("addhealth_pds.csv",low_memory=False)

In [7]:
data.head()

,AID,IMONTH,IDAY,IYEAR,SCID,SSCID,COMMID,MACNO,INTID,SCH_YR,...,SMP08,CLUSTER1,CLUSTER2,IMONTH2,IYEAR2,H2GI1M,H2GI1Y,finbd,finID,age
0,57100270,6,23,95,77,177,477,100186,901186,1,...,0,477,178,,,,,,,
1,57101310,5,5,95,7,7,407,100084,921084,1,...,0,407,108,4,96,11,76,11/15/1976,4/15/1996,19.427397260274
2,57103171,6,27,95,14,114,414,100143,927143,0,...,0,414,115,,,,,,,
3,57103869,7,14,95,66,166,466,100215,908215,0,...,0,466,167,6,96,1,76,1/15/1976,6/15/1996,20.4301369863014
4,57104553,7,14,95,41,141,441,100008,905008,1,...,0,441,142,,,,,,,

Converting age and H1FS6 to Numeric

In [16]:
data['age'] = pd.to_numeric(data['age'],errors='coerce')

In [19]:
data['H1FS6'] = pd.to_numeric(data['H1FS6'],errors='coerce')

Replacing unknown/refused values of H1FS6 to NAN

In [28]:
data['H1FS6']=data['H1FS6'].replace(6,np.nan)
data['H1FS6']=data['H1FS6'].replace(8,np.nan)

Creating new dataset

In [29]:
data2=data[['age','H1FS6']].dropna()

Observing mean & standard deviation of age for H1FS6(Variable for Question asking for level of depression)

In [30]:
a1=data2.groupby('H1FS6').mean()
print(a1)
a2=data2.groupby('H1FS6').std()
print(a2)

             age
H1FS6
0.0    16.407126
1.0    16.721988
2.0    16.788556
3.0    17.004745
            age
H1FS6
0.0    1.570447
1.0    1.592013
2.0    1.512590
3.0    1.492216

Running ANOVA test to understand the association between depression and age

In [31]:
model=smf.ols(formula='age ~ C(H1FS6)',data=data2).fit()

In [32]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    age   R-squared:                       0.012
Model:                            OLS   Adj. R-squared:                  0.012
Method:                 Least Squares   F-statistic:                     19.92
Date:                Mon, 22 Jun 2020   Prob (F-statistic):           7.85e-13
Time:                        02:16:35   Log-Likelihood:                -9021.0
No. Observations:                4824   AIC:                         1.805e+04
Df Residuals:                    4820   BIC:                         1.808e+04
Df Model:                           3
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          16.4071      0.029    573.287      0.000      16.351      16.463
C(H1FS6)[T.1.0]     0.3149      0.051      6.133      0.000       0.214       0.416
C(H1FS6)[T.2.0]     0.3814      0.093      4.107      0.000       0.199       0.564
C(H1FS6)[T.3.0]     0.5976      0.137      4.371      0.000       0.330       0.866
==============================================================================
Omnibus:                      304.308   Durbin-Watson:                   1.136
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              115.490
Skew:                           0.095   Prob(JB):                     8.35e-26
Kurtosis:                       2.266   Cond. No.                         6.37
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Running Post Hoc Comparison

In [34]:
mc1=multi.MultiComparison(data2['age'],data2['H1FS6'])
res1=mc1.tukeyhsd()
print(res1.summary())

Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj   lower  upper  reject
---------------------------------------------------
   0.0    1.0   0.3149  0.001  0.1829 0.4468   True
   0.0    2.0   0.3814  0.001  0.1427 0.6201   True
   0.0    3.0   0.5976  0.001  0.2462  0.949   True
   1.0    2.0   0.0666    0.9 -0.1855 0.3187  False
   1.0    3.0   0.2828 0.1825 -0.0779 0.6434  False
   2.0    3.0   0.2162  0.528 -0.1957 0.6281  False
---------------------------------------------------